html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrap {
  /*
     
    width: 1920px;
    height: 1080px;
  outline: 1px solid red;
  transform: translate(-50%, -50%);
  background: url("../img/bg_grand.jpg") no-repeat center center/cover;
*/
}

/*
.wraper {
  width: 100%;
}

.wraper img {
  width: 100%;
}
*/

.background {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/bg_grand.jpg") no-repeat center center/cover;
}

.curtain-block,
.curtain-back {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  width: 1920px;
  height: 1080px;
  transform: translateX(-50%) translateY(-50%);
  /*  background-color: red;*/
}

.curtain-back {
  z-index: 3;
  background: url("../img/bg.jpg") no-repeat center;
  display: none;
}

.curtain-front {
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  width: 780px;
  height: 2080px;
  position: absolute;
}

.curtain-front--right {
  top: 50%;
  left: 100%;
  background: url("../img/curtain-right.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.curtain-front--left {
  top: 50%;
  left: 0;
  background: url("../img/curtain-left.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.curtain--hide {
  top: -100%;
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 45%;
  height: 555px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../img/logo.png") no-repeat 50%/cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.entry {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 6;
  margin: 0 auto;
  width: 290px;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.entry--hide {
  opacity: 0;
  z-index: 0;
}
.curt {
   position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  width: 1920px;
  height: 1080px;
  transform: translateX(-50%) translateY(-50%);
/*  background: url("../img/bg_curtain.png") no-repeat center;*/
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  width: 1920px;
  height: 1080px;
  transform: translateX(-50%) translateY(-50%);
/*  background-color: green;*/
}
.wraper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  transform: translateX(-50%) translateY(-50%);
}

/*
.curt::after {
  content: '';
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  width: 780px;
  height: 2080px;
  position: absolute;
  top: 50%;
  left: 100%;
  background: url("../img/curtain-right.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}.curt::before {
  content: '';
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  width: 780px;
  height: 2080px;
  position: absolute;
  top: 50%;
  left: 0;
  background: url("../img/curtain-left.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
*/

.main-header {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 164px;
  font-family: "DoulosSilr", "Georgia", "Times New Roman", "Times", serif;
  color: #9f8655;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: url("../img/bg_main-header.png") no-repeat 50%/cover; }
  .main-header::after, .main-header::before {
    content: '';
    display: table;
    clear: both; }
  .main-header__left {
    padding-top: 33px;
    padding-left: 24px;
    float: left;
    width: 338px; }
  .main-header__language {
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 17px; }
    .main-header__language a {
      color: #9f8655;
      text-decoration: none; }
      .main-header__language a:hover {
        color: #fff; }
  .main-header__list {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    list-style: none;
    font-size: 0; }
  .main-header__item {
    position: relative;
    padding-right: 40px;
    display: inline-block;
    font-size: 17px;
    line-height: 17px;
    line-height: 1; }
    .main-header__item:last-child {
      padding-right: 0; }
      .main-header__item:last-child::after {
        display: none; }
      .main-header__item:last-child .main-header__menu {
        left: 50%; }
    .main-header__item::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 17px;
      width: 6px;
      height: 6px;
      background-color: #9f8655;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .main-header__item:hover > .main-header__menu {
      display: block; }
  .main-header__link {
    color: #9f8655;
    text-decoration: none; }
  .main-header__menu {
    position: absolute;
    top: 8px;
    left: 28%;
    padding-top: 20px;
    display: none;
    width: 198px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .main-header__submenu {
    position: relative;
    margin: 0;
    padding: 0;
    padding: 0 7px 8px;
    display: block;
    text-align: center;
    list-style: none;
    background-color: #5b4b32; }
    .main-header__submenu::after {
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6.5px 8px 6.5px;
      border-color: transparent transparent #9e8558 transparent;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .main-header__submenu::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 7px;
      width: 184px;
      height: 13px;
      background-image: url("../img/circle.jpg");
      background-position: 0;
      background-size: 100%;
      background-repeat: no-repeat; }
    .main-header__submenu li, .main-header__submenu a {
      display: block; }
    .main-header__submenu li {
      border-bottom: 1px solid #a38c6d;
      border-left: 2px solid #a38c6d;
      border-right: 2px solid #a38c6d;
      overflow: hidden; }
      .main-header__submenu li:hover a {
        color: #fff; }
      .main-header__submenu li:last-child {
        border-bottom: none; }
    .main-header__submenu a {
      padding: 16px 10px;
      font-size: 14px;
      color: #a38c6d;
      text-decoration: none;
      word-wrap: break-word;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); }
    .main-header__submenu a.active {
      color: #fff; }
  .main-header__logo {
    float: left;
    width: 284px;
    height: 164px;
    text-indent: 100%;
    white-space: nowrap;
    background: url("../img/logo-mini.png") no-repeat 0 -2%;
    overflow: hidden; }
  .main-header__right {
    padding-top: 35px;
    padding-right: 24px;
    float: right;
    width: 338px; }
    .main-header__right::after, .main-header__right::before {
      content: '';
      display: table;
      clear: both; }
  .main-header__nav {
    margin-bottom: 26px;
    float: right;
    font-size: 0; }
  .main-header__navlink {
    font-size: 12px;
    line-height: 17px;
    color: #9f8655;
    text-decoration: none;
    margin-right: 15px; }
    .main-header__navlink:last-child {
      margin-right: 0; }
    .main-header__navlink:hover, .main-header__navlink:active, .main-header__navlink--active {
      color: #fff; }
  @media only screen and (min-width: 600px) and (max-width: 959px) {
    .main-header__left, .main-header__right {
      width: 200px; }
    .main-header__left {
      padding-left: 0; }
    .main-header__right {
      padding-right: 0; }
    .main-header__item {
      padding-right: 16px;
      font-size: 12px; }
      .main-header__item::after {
        right: 5px; }
    .main-header__menu {
      width: 200px; }
    .main-header__submenu {
      padding: 0 10px 10px; }
      .main-header__submenu a {
        padding: 10px;
        font-size: 12px;
        color: #a38c6d;
        text-decoration: none; }
    .main-header__navlink {
      font-size: 10px;
      margin-right: 7px; } }

.index {
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  width: 1920px;
  height: 100vh;
  max-height: 1080px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .index__wrap {
    margin: 0 auto;
    width: 964px; }
  .index__wrap::after, .index__wrap::before {
    content: '';
    display: table;
    clear: both; }
  .index .main {
    width: 100%; }
  @media only screen and (min-width: 700px) and (max-width: 959px) {
    .index__wrap {
      margin: 0 auto;
      width: 684px; } }