html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrap {
  /*
     
    width: 1920px;
    height: 1080px;
  outline: 1px solid red;
  transform: translate(-50%, -50%);
  background: url("../img/bg_grand.jpg") no-repeat center center/cover;
*/
}

.wraper {
  width: 100%;
}

.wraper img {
  width: 100%;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/bg_grand.jpg") no-repeat center center/cover;
}

.curtain-block,
.curtain-back {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  width: 1920px;
  height: 1080px;
  transform: translateX(-50%) translateY(-50%);
  /*  background-color: red;*/
}

.curtain-back {
  z-index: 3;
  background: url("../img/bg.jpg") no-repeat center;
}

.curtain-front {
  padding: 0;
  margin: 0 auto;
  z-index: 5;
  width: 780px;
  height: 2080px;
  position: absolute;
}

.curtain-front--right {
  top: 50%;
  left: 100%;
  background: url("../img/curtain-right.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.curtain-front--left {
  top: 50%;
  left: 0;
  background: url("../img/curtain-left.png") no-repeat 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.curtain--hide {
  top: -100%;
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 45%;
  height: 555px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../img/logo.png") no-repeat 50%/cover;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.entry {
  position: absolute;
  top: 75%;
  left: 50%;
  z-index: 6;
  margin: 0 auto;
  width: 290px;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.entry--hide {
  opacity: 0;
  z-index: 0;
}